################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DevOps/FileContentIndex/eec72dc3-cf50-4f28-b9bb-b23ebb049f24.vsidx
