################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DevOps/FileContentIndex/eec72dc3-cf50-4f28-b9bb-b23ebb049f24.vsidx
/.vs/DevOps/FileContentIndex/0caa8b93-7ea5-4c7b-adbd-e58abaeedaf1.vsidx
/.vs/DevOps/FileContentIndex/53bb0ed4-d88a-41e9-9cf6-a4f117604223.vsidx
/.vs/Azure DevOps2/FileContentIndex/4b808185-ac94-419a-b9ae-d3a9153815cb.vsidx
